<style>
.experience-page .experience-item ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.experience-page .experience-item ul li {
  padding-left: 0;
  margin-left: 0;
}
</style>
{% if site.enable_work_categories and page.display_categories %}
<div class="cv experience-page">
{% for category in page.display_categories %}
{% case category %}
{% when 'work' %}
{% assign category_label = 'Industry' %}
{% when 'research' %}
{% assign category_label = 'Research' %}
{% when 'teach' %}
{% assign category_label = 'Teaching' %}
{% when 'service' %}
{% assign category_label = 'Professional Service' %}
{% else %}
{% assign category_label = category | capitalize %}
{% endcase %}
<a class="anchor" id="{{ category_label | slugify }}"></a>
<div class="card mt-3 p-3">
<h3 class="card-title font-weight-medium">{{ category_label }}</h3>
<div class="experience-items">
{% assign categorized_work = site.work | where: 'category', category %}
{% assign sorted_work = categorized_work | sort: 'importance' %}
{% for item in sorted_work %}
{% include experience_item.liquid item=item %}
{% endfor %}
</div>
</div>
{% endfor %}
</div>
{% else %}
<div class="cv experience-page">
<div class="card mt-3 p-3">
<h3 class="card-title font-weight-medium">Experience</h3>
<div class="experience-items">
{% assign sorted_work = site.work | sort: 'importance' %}
{% for item in sorted_work %}
{% include experience_item.liquid item=item %}
{% endfor %}
</div>
</div>
</div>
{% endif %}
