<div class="experience-item mb-4">
<h6 class="title font-weight-bold mb-1">{{ include.item.title }}</h6>
{% if include.item.description %}
<p class="mb-2" style="font-size: 0.95rem">{{ include.item.description }}</p>
{% endif %}
{% if include.item.content != blank %}
<div class="font-weight-light experience-item-content">{{ include.item.content }}</div>
{% endif %}
</div>
